.main {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../public/img/cosmios.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
