* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  word-wrap: break-word;
}
body {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
}
.container {
  max-width: 100vw;
  margin: 0 auto;
}

.main {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../public/img/cosmios.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
  font-size: 24px;
}

.section {
  border: 5px solid rgba(228, 224, 14, 0.863);
  border-radius: 50px;
  padding: 1rem;
  color: white;
  font-size: 25px;
}

.description {
  width: 76%;
  height: 43vh;
  background-color: #112320;
  padding: 30px;
}

.img {
  width: 20%;
  height: 43vh;
  background-color: #333;
  padding: 0;
}

.selector {
  width: 76%;
  height: 43vh;
  background-color: #112320;
  padding: 30px;
}

.state {
  width: 20%;
  height: 43vh;
  background-color: #000509;
  padding: 30px;
}
.button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 25px;
}
.button:hover {
  cursor: pointer;
  color: rgb(7, 235, 7);
}

@media (max-width: 600px) {
  .main {
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 5px;
  }

  .section {
    border: 1px solid rgba(228, 224, 14, 0.863);
    font-size: 16px;
    border-radius: 10px;
    padding: 3px;
  }

  .button {
    font-size: 16px;
  }
  .description,
  .img,
  .selector,
  .state {
    width: 95%;
  }

  .description {
    height: 20vh;
  }

  .selector {
    height: 15vh;
  }

  .img {
    height: 40vh;
  }
  .state {
    height: 10vh;
  }
}
