* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  word-break: break-word;
}
ul {
  list-style-type: none;
  padding: 0;
}
body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: rgb(160, 188, 194);
  font-size: 18px;
}
img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
.main {
  transition: background-image 0.5s ease-in-out;
}
.bg-default {
  background-image: url("/img/cosmios.jpg");
  background-size: cover;
  background-position: center;
}
.bg-avantyurist {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url("/img/fonForest.png");
  background-size: cover;
  background-position: center;
}
.bg-demo {
  background-image: url("/img/forest.jpg");
  background-size: cover;
  background-position: center;
}
.container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.h2{
  font-size: 32px;
}
.h2:hover,
.h2:focus {
  cursor: pointer;
  box-shadow: 0 0 10px #0f0, 0 0 20px #0f0;
  color: rgb(12, 104, 12);
}
@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
  .container {
    max-width: 600px;
    padding: 5px;
    flex-direction: column;
    gap: 0;
  }
  .h2 {
    font-size: 28px;
  }
}
